# Visual Studio
.vs/
**/.vs/
bin/
**/bin/
obj/
**/obj/

# Publish
Publish/
publish/
**/Publish/
**/publish/

# Installer output
InstallerOutput/
**/InstallerOutput/

# User files
*.user
*.suo

# Visual Studio temporary files
*.dtbcache.v2
DocumentLayout*.json